/* =============
    Demo
============= */
#svg-demo{
    display: grid;
    grid-template-columns: auto 100% auto;
    grid-template-areas: ". svg .";
    justify-content: center;
    align-items: center;
    >div{
        grid-area: svg;
        display: flex;
        justify-content: center;
        align-items: center;
        //height: 100vh;
        //width: 120vh;

        svg{
            width: 100%;
            height: 100%;
        }
    }
}
#color{
    height: 100%;
    width: 100%;
    background-color: #F7743C;
    visibility: hidden;
 }